# Generic Qt and C++ patterns
*.moc
Makefile*
*.so.*
*.so
*.so.debug
*.o
*.a
.cd.rc
*.swp
core
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
ui_*.h
qrc_*.cpp
Debug/
Release/
*.log
.*.stash
*_adaptor.*
*_interface.*
moc_*.h

# QtCreator project files
*.pro.user
=======
*.pro.user*
*~

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.#*
*.cbp
*_autogen
